---
const { variant } = Astro.props;
---

<button data-variant={variant}>
  <slot />
</button>

<style>
  @layer components {
    /* Primary button */
    [data-variant="primary_button"] {
      background-color: var(--black-primary);
      color: var(--white-primary);

      /* Primary button hover */
      &:hover {
        background-color: var(--white-primary);
        color: var(--black-primary);
        border-inline: 4px solid var(--black-primary);
      }
    }

    /* Secondary button */
    [data-variant="secondary_button"] {
      background-color: var(--yellow-dark);
      color: var(--black-primary);

      /* Secondary button hover */
      &:hover {
        background-color: var(--yellow-light);
        color: var(--black-primary);
      }
    }

    /* Hero button */
    [data-variant="hero_button"] {
      background-color: var(--white-primary);
      color: var(--black-primary);
    }

    button {
      display: flex;
      text-align: center;
      align-items: center;
      cursor: pointer;
      border-radius: 42px;
      padding: 0.5rem 1rem;
      width: fit-content;
    }
  }
</style>
