---
import Button from "./Button.astro";
---

<header>
  <div class="site_header__inner">
    <p>AskExperts</p>
    <nav class="navigation">
      <ul>
        <li class="navigation_item">
          <a class="navigation_link" href="/">Home</a>
        </li>
        <li class="navigation_item">
          <a class="navigation_link" href="/casestudy">Case Study</a>
        </li>
        <li class="navigation_item">
          <a class="navigation_link" href="/team">Team</a>
        </li>
        <li class="navigation_item">
          <a class="navigation_link" href="/about">About</a>
        </li>
      </ul>
    </nav>
    <Button variant="secondary_button">Login</Button>
  </div>
</header>

<style>
  @layer components {
    header {
      .site_header__inner {
        background-color: var(--black-background);
        color: var(--white-primary);
        display: flex;
        gap: 0.5rem 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }

      .navigation {
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          gap: 0.5rem 1rem;
          align-items: center;
        }
      }
    }
  }
</style>
