---
import Slogan from "./Slogan.astro";
---

<div>
  <figure class="container_img">
    <img src="/img/heroabout.png" alt="about" class="img_about" />
  </figure>
  <div>
    <Slogan slogan="slogan_yellow">SERVICES</Slogan>
    <h2>Creative Services For Boost Your Business Growth</h2>
  </div>
</div>
