---
// const { heroimage } = Astro.props;
import Slogan from "./Slogan.astro";
---

<div class="container">
  <div class="opacity">
    <Slogan slogan="slogan_yellow">SERVICES</Slogan>
    <h2>Creative Services For Boost Your Business Growth</h2>
  </div>
</div>

<style>
  .opacity {
    position: relative;
    padding: 48px 60px;
    border-radius: 29px;
  }
  .container {
    .opacity {
      background-color: rgba(255, 255, 255, 0.85); /* Sort med 50% opacity */
      padding: 48px 60px;
      border-radius: 29px;
    }
  }
</style>
