---
//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());

import Button from "./Button.astro";
---

<ul role="list">
  {
    servicesData.services.map((service) => (
      <li>
        <div>
          <h3>{service.title}</h3>
          <p>{service.description}</p>
        </div>
        <div class="button">
          <Button variant="primary_button">{service.buttonText}</Button>
        </div>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {
      display: grid;
      gap: 1rem;

      @media (width > 800px) {
        grid-template-columns: repeat(3, 1fr);
      }

      li {
        /* Styling */
        background-color: var(--black-background);
        color: var(--white-primary);
        border-radius: var(--border-radius-items);
        /* backdrop-filter: blur(16px); */

        padding: min(3rem, 5%);
        /* width: min(90ch, 100% - 2rem); */

        /* Layout */
        /* grid-row: span 2;
        display: grid;
        grid-template-rows: subgrid; */

        > * {
          padding: 1rem;
        }
      }

      .button {
        padding-block: 1rem;
      }
    }
  }
</style>
