---
//@ts-nocheck
const servicesData = await fetch(
  "https://frontend-design-theme.netlify.app/api/services"
).then((response) => response.json());

import Button from "./Button.astro";
---

<ul>
  {
    servicesData.services.map((service) => (
      <li>
        <h2>{service.title}</h2>
        <p>{service.description}</p>
        <Button variant="primary_button">
          <a href="#0">{service.buttonText}</a>
        </Button>
      </li>
    ))
  }
</ul>

<style>
  @layer components {
    ul {
      display: grid;
      gap: 1rlh;
      max-inline-size: 1000px;
      margin-inline: auto;
      padding: 1rlh;

      @media (width > 600px) {
        grid-template-columns: repeat(3, 1fr);
      }

      li {
        /* Styling */
        list-style: none;
        background-color: var(--black-primary);
        color: var(--white-primary);
        opacity: 90%;
        border-radius: 20px;
        /* backdrop-filter: blur(16px); */

        /* Layout */
        grid-row: span 3;
        display: grid;
        gap: 0;
        grid-template-rows: subgrid;

        > * {
          padding: 1rem;
        }
      }
    }
  }
</style>
