---
import "../styles/main.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>AskExperts</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr [content-start] minmax(0, 1000px) [content-end] 1fr;
    align-items: start;

    > main {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
    }

    > header,
    footer {
      grid-column: 1 / -1;
      display: grid;
      grid-template-columns: subgrid;
      > :not(&) {
        /* Nu virker alt også på børnebørnene undtagen full-bleed */
        grid-column: content;
      }
    }

    @media (width < 800px) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
</style>
