---
const { theme } = Astro.props;
---

<section data-theme={theme}>
  <slot />
</section>

<style>
  section {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: subgrid;

    /* Sørger for alle sections har margin top-bottom */
    padding-block: 6rem;

    > * {
      grid-column: content;
    }
  }
</style>
